@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
    --buttermilk: #ffefb7;
    --costa-del-sol: #63572d;
    --casal: #2d5463;
}

* {
    font-family: "Roboto", sans-serif;
    color: var(--costa-del-sol);
}

body {
    background-color: var(--buttermilk);
    margin: 0 auto;
    width: 800px;
}

.header__container {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
    /* border: 1px solid black; */
}

.header__buttons-inner {
    display: inline-flex;
    width: 100%;
    flex: 1 0 0;
    justify-content: center;
    padding: 1rem 0;
    align-items: center;
}

.header__buttons-inner-button-container {
    padding-inline-start: 0px;
    display: inline-flex;
    margin: 0px;
    width: 75%;
}

.header__buttons-inner-button-container>li {
    align-items: center;
    padding: 1rem 1rem;
    text-decoration: none;
    width: auto;
    border-radius: 15px;
}

.header__buttons-inner-button-container>li:hover {
    text-shadow: 0 0 1rem var(--casal);
}

.header__buttons-inner-button-container>li:first-child:hover {
    box-shadow: 0 0 1rem var(--casal);
}

.header__buttons-inner-button-container>li>a {
    text-decoration: none;
    color: var(--costa-del-sol);
}

.header__buttons-inner-button-container>li>a:hover {
    text-decoration: none;
}

.header__buttons-inner>button {
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    background: none;
    background-color: var(--casal);
    color: white;
}

.header__buttons-inner>button:hover {
    box-shadow: 0 0 1rem var(--casal);
    color: var(--costa-del-sol);
    border: 2px solid var(--casal);
    background-color: var(--buttermilk);
}

.header__logo {
    display: inline-flex;
    /* border: 1px solid black; */
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__hours {
    margin-top: 0;
}

.header__information {
    width: 80%;
    text-align: center;
    margin-bottom: 1rem;
}

.header__sm-button-container {
    display: inline-flex;
    width: 80%;
    justify-content: center;
    margin-bottom: 1rem;
}

.header__sm-button-container>ul {
    justify-content: center;
    align-items: center;
    width: 50%;
    display: inline-flex;
    margin: 0 2rem;
    list-style-type: none;
}

.header__sm-button-container>ul>li {
    padding: 0 1rem;
}

.header__sm-button-container>ul>li>a {
    text-decoration: none;
}

.header__sm-button-container>i {
    color: var(--casal);
    font-size: 24px;
}

.header__sm-button-container>i:hover {
    text-shadow: 0 0 1rem var(--casal);
}

.main__container {
    display: block;
    width: 100%;
    padding: 0 2.5rem 2.5rem 2.5rem;
    /* border: 1px solid black; */
    margin-bottom: 2rem;
}

.main__shop-title {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.main__shop-image-container {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.main__image-info-container {
    margin: 0 2rem;
    border: 2px solid var(--costa-del-sol);
    padding: 1rem;
}

.main__image-info-container>h3 {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__image-info-container>img {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main__image-info-container-information {
    width: 90%;
    text-align: center;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

.main__shop-button {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 15px;
    background: none;
    background-color: var(--casal);
    color: white;
    padding: 1rem;
}

.main__shop-button:hover {
    box-shadow: 0 0 1rem var(--casal);
    color: var(--costa-del-sol);
    border: 2px solid var(--casal);
    background-color: var(--buttermilk);
}